
body {
	/*/border: 20px aqua dashed;/*/
	background: grey;
	margin: 80px;
}
.post {
	/*/border: 10px orchid dotted;/*/
		width: 500px;
		height: 500px;
		background-color: white;
		margin-top: 10px;
	    margin-left: 10px;
	    margin-right: 10px;	
	}
	/*/justify-items: space-between;/*/
	

.text{
	/*/border: 5px red solid;/*/
	display: inline-block;
	margin-top: 10px;
}	
h3,h4{
	margin:0;
	display: flex;
	

	/*/display: inline-block;/*/
}
.post-body {
	/*/border: 5px red dotted;/*/
	width: 500px;
	height: 180px;
   	background-color:white;
		
}
.post-img {
	/*/border: 5px blue solid;/*/
	display: block;
	padding-bottom: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.post-icons{
	/*/border: 5px blue solid;/*/
	font-size:20px;
	display: inline;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;	
}
.post-icons >i:last-child{
	float:right;
	/*/border: 5px rgb(255, 0, 183) dashed;/*/
}
p {
    margin-left: 10px;
}
.fa-regular{
	margin-right: 10px;
}
.right-header{
	margin-left: 10px;
	float:right;
	margin-right: 10px;
	margin-top: 10px;
}
.fa-brands{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	size: 50px;
}